{% extends 'main.html' %}
{% load static %}

{% block content %}

    <!-- Breadcrumb area end -->
    <!-- Shop area starts -->
    <section class="blog-area section-bg-1 pat-100 pab-100">
            <div class="breadcrumb-area breadcrumb-padding">
        <div class="container custom-container-one">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-contents">
                        <h4 class="breadcrumb-contents-title"> Blog Yazıları </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="row gy-5" style="padding-top:20px;">
                {% for blog in blogs %}
                <div class="col-xxl-4 col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="single-blog-thumbs">
                            <a href="{% url 'blog_detail' blog.id %}"> <img class="lazyloads" src="{{blog.display_image.url}}" alt=""> </a>
                            <div class="single-blog-thumbs-date">
                                <a href="javascript:void(0)"> <span class="date"> {{ blog.date|date:"d" }} </span> <span class="month"> {{ blog.date|date:"M" }} </span> </a>
                            </div>
                        </div>
                        <div class="single-blog-contents mt-3">
                            <div class="single-blog-contents-tags mt-3">
                            </div>
                            <h4 class="single-blog-contents-title mt-3"> <a href="{% url 'blog_detail' blog.id %}"> {{blog.title}} </a> </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}