
{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumb-area breadcrumb-padding">

    <section class="about-area pat-100 pab-50" >
        <div class="container" style="padding-top:20px;">
            <div class="section-title center-text">
                <h2 class="title"> REZERVASYON VE ÖDEME VE İPTAL ŞARTLARI VE İADE KOŞULLARI
 </h2>

                <div class="section-title-line"> </div>
                                                <br>

          <p>
              Tatillikya – Erol Songur hesabına yatırılan, tatil seçeneğinin bedelinin ön ödeme ( hangi kanaldan yapılmış olursa olsun ) bedeli her ne olursa olsun  Rezervasyon iptalinin mail ya da fax yolu ile bildirilmesi gerekmektedir.
*Rezervasyonun onaylanmasını takip eden 24 saat içerisinde İPTAL gerçekleşirse ziyaretçi ödemiş olduğu kaparoyu koşulsuz iade alır. (Giriş tarihi en erken 21 gün içerisindeki olan rezervasyonlarda geçerli değildir.)
Rezervasyon iptali seyahat başlangıcından 30 gün veya daha uzun süre önce gerçekleşirse, ziyaretçi, ödemiş olduğu ön ödemeyi iade alır.
Rezervasyon iptali seyahat başlangıcından 15-29 gün kadar öncesi gerçekleşirse, ziyaretçi, toplam seyahat bedelinin %20'sini ödemek zorundadır.
Rezervasyon iptali seyahat başlangıcından 8-14 gün kadar öncesi gerçekleşirse, ziyaretçi, toplam seyahat bedelinin %50'sini ödemek zorundadır.
Rezervasyon iptali seyahat başlangıcından 0-7 gün kadar öncesi gerçekleşirse veya ziyaretçi konaklama tesisine giriş yapmazsa toplam seyahat bedelinin %100'ünü ödemek zorundadır.
Eğer ödemiş olduğu ön ödeme ödemesi gereken tutardan fazla ise arada oluşan farkı geri alabilecektir. Eğer daha az ön ödeme yapıldıysa ziyaretçi arada oluşan farkı ödemekle yükümlüdür.
ZİYARETÇİ'nin işbu sözleşmeden kaynaklanan tazminat ödemesini yapmadığı durumlarda, bu ücretler Tatillikya – Erol Songur tarafından İhtarname ya da İcra takibi vasıtası ile yasal olarak ZİYARETÇİ‘den talep edilir.
Bu gibi durumlarda doğabilecek tüm masraflar (Avukat, noter, icra ve dosya masrafları vs. ödenecek ücrete ilaveten ZİYARETÇİ‘den talep edilmektedir
ZİYARETÇİ’nin yaptığı ön ödeme miktarı iptal şartlarındaki ödeme yapması gereken miktardan fazla olduğu takdirde fazla olan miktar müşterinin bildireceği hesap numarasına iade edilecektir. Gönderim masrafları da bu paranın içerisinden kesilecektir.
Kredi kartı ile yapılan ödemelerin iade işlemlerinden dolayı ortaya çıkabilecek olan maddi zarar Tatillikya – Erol Songur’a yükletilemez. Bu türde bir maddi zarar, komisyon ücreti vs. gibi madii masraflar ZİYAREYÇİ’ye iade edilecek paranın içerisinden kesilir.
Herhangi bir nedenle, tatil seçeneği rezervasyonunun TATİLLİKYA tarafından iptal edilmesi durumunda, bu durum en kısa zamanda ZİYAREYÇİ’ye bildirilecektir. Eğer portföyümüzde aynı tarihlerde müsait, eş değer bir tatil seçeneği varsa ZİYARETÇİ’ye önerilecektir. ZİYAREYÇİ’nin onaylamaması ve “mücbir sebepler” maddesine girmeyen durumlarda, alınan para ZİYARETÇİ’ye iade edilecektir.
ZİYARETÇİ’nin kalan ödemeyi zamanında yapmaması halinde, TATİLLİKYA, söz konusu rezervasyonu iptal etme, daha önce ödenmiş olan ücreti geri ödeme yapmama ve bu tatil seçeneğine başka bir rezervasyon alma hakkını saklı tutar.
Rezervasyon iptalleri, yazılı olarak (elektronik posta veya iadeli taahhütlü mektup vb.) yapılabilir. Telefon yolu ile konuşarak yapılan rezervasyon iptallerinin geçerliliği kesinlikle yoktur. Rezervasyon iptalleri, TATİLLİKYA ‘nın eline yazılı bildirim ulaştığı andan itibaren geçerlidir.
ZİYARETÇİ’nin kusurundan kaynaklanan bir sebep veya usulüne uygun olarak yazılı bildirim yapılmaksızın sözleşmenin feshi durumları dahil olmak üzere tatil seçeneğinin iş bu sözleşmenin tarafların açık beyanıyla rezervasyon onayından itibaren geçerli olmak kaydıyla, tatil seçeneğinin kullanılmamasından TATİLLİKYA sorumlu tutulamaz.
Sözleşmede gösterilen bedelin tümü tatil seçeneğinin kararlaştırılan teslim tarihinde muaccel hale gelip, TATİLLİKYA’nın bu yöndeki tüm hukuki hakları saklıdır.

          </p>

            </div>
        </div>
    </section>
{% endblock %}