{% extends 'main.html' %}
{% load static %}
    <!-- Breadcrumb area Starts -->

{% block content %}
    <!-- Breadcrumb area end -->
    <!-- Hotel List area start -->
    <div class="responsive-overlay"></div>

    <section class="hotel-list-area section-bg-2 pat-100 pab-100">
            <div class="breadcrumb-area section-bg-2 breadcrumb-padding">
        <div class="container custom-container-one">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-contents">
                        <h4 class="breadcrumb-contents-title"> Villalarımız </h4>
                        <ul class="breadcrumb-contents-list list-style-none">
                            <li class="breadcrumb-contents-list-item"> <a href="{% url 'home' %}"> Anasayfa </a> </li>
                            <li class="breadcrumb-contents-list-item"> Villalar </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="booking-form">
                <form id="main-form" method="GET" action="{% url 'villas' %}">

                            {% csrf_token %}
    <!-- Hidden input field to store the value of all_villas -->

                <div class="row no-margin">
                    <div class="col-md-9">
                        <div class="row no-margin">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Bölge Seçimi</span>
                                    {% if selected_zone_id %}
                        <select class="form-select" id="zone_selection" name="zone_selection" aria-label="Bölge Seçimi">
                                                        <option class="province-option" value="all_zones">Tüm Bölgeler</option>

                            {% for province in provinces %}
                            <option class="province-option" value="{{ province.id }}_province"
                                                    {% if province.id|stringformat:"s"|add:"_province" == selected_zone_id %}
                                                selected
                                            {% endif %}
                                            >

                                    {{ province.name }} (Tümü)</option>
                            {% for zone in province.zone_set.all %}
                            <option class="zone-option" value="{{ zone.id }}_zone" data-province="{{ province.id }}"
                                    {% if zone.id|stringformat:"s"|add:"_zone" == selected_zone_id %}
    selected
{% endif %}
>

                                    {{ zone.name }}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                                    {% else %}
                                    <select class="form-select" id="zone_selection" name="zone_selection" aria-label="Bölge Seçimi">
                                        <option class="province-option" value="all_zones">Tüm Bölgeler</option>

                            {% for province in provinces %}

                            <option class="province-option" value="{{ province.id }}_province" >{{ province.name }} (Tümü)</option>
                            {% for zone in province.zone_set.all %}
                            <option class="zone-option" value="{{ zone.id }}_zone" data-province="{{ province.id }}">{{ zone.name }}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>

                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <span class="form-label">Giriş Çıkış Tarihleri</span>
{% if raw_dates %}
    <input type="text" name="datetimes_home" id="checkin-date" class="form--control picker flatpickr-input" value="{{ raw_dates.0 }} - {{ raw_dates.1 }}" />
{% else %}
    <input type="text" name="datetimes_home" id="checkin-date" class="form--control picker flatpickr-input" />
{% endif %}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Kişi Sayısı</span>

                                    {% if num_people %}
                                        <select class="form-control" id="num_people" name="num_people">
                                            <option {% if num_people == '1' %}selected{% endif %}>1</option>
                                            <option {% if num_people == '2' %}selected{% endif %}>2</option>
                                            <option {% if num_people == '3' %}selected{% endif %}>3</option>
                                            <option {% if num_people == '4' %}selected{% endif %}>4</option>
                                            <option {% if num_people == '5' %}selected{% endif %}>5</option>
                                            <option {% if num_people == '6' %}selected{% endif %}>6</option>
                                            <option {% if num_people == '7' %}selected{% endif %}>7</option>
                                        </select>
                            {% else %}
                                    <select class="form-control" id="num_people" name="num_people">
        <option selected>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                    </select>
                                    {% endif %}
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-btn">
                            <button type="submit" class="submit-btn radius-20">Ara</button>
                        </div>
                    </div>

                </div>

						</form>
                <div class="row no-margin">
                                    <div class="col-md-12">

<form id="filter-form" method="GET" action="{% url 'villas' %}">
    {% csrf_token %}

    <div class="single-shop-left-inner margin-top-15">
        <ul class="single-shop-left-list active-list list-style-none">
            <div class="row">
                {% for type in all_types %}
                <div class="col-md-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input filter-checkbox" type="checkbox" id="{{type.id}}" name="type" value="{{ type.name }}"
                            {% if type.name in selected_types %} checked {% endif %}>
                        <label class="form-check-label" for="{{type.id}}">{{type.name}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </ul>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="display: block;margin: 0 auto;">Filtrele</button>
        <br>


</form></div></div>

					</div>

            <div class="row">
                <div class="col-xl-10 col-md-10 col-lg-10"></div>
                        <div class="col-xl-2 col-md-2 col-lg-2">
                                                                        <div class="form-group">
                                                    <span class="form-label"> </span>

<select id="sort-option" class="form-select btn btn-outline-warning dropdown-toggle" aria-label="Gelişmiş Sıralama">
    <option value="popularity">Popüler</option>
    <option value="price_asc">Fiyat Artan</option>
    <option value="price_desc">Fiyat Azalan</option>
</select>
                                </div>

                        </div>

            </div>


            <div class="shop-contents-wrapper mt-5">

<!--            <div class="">-->
<!--                    <div class="shop-close-content">-->
<!--&lt;!&ndash;                        <div class="shop-close-content-icon"> <i class="las la-times"></i> </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="single-shop-left bg-white radius-10">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="single-shop-left-title open">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h5 class="title"> Fiyat </h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="single-shop-left-inner mt-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <form class="price-range-slider" method="post" data-start-min="0" data-start-max="10000" data-min="0" data-max="10000" data-step="5">&ndash;&gt;-->
<!--&lt;!&ndash;                                   <input type="text" id="range_12" data-plugin="range-slider"&ndash;&gt;-->
<!--&lt;!&ndash;    data-type="double" data-min="1000" data-max="2000" data-from="1200"&ndash;&gt;-->
<!--&lt;!&ndash;    data-to="1800" data-hide_min_max="true" data-hide_from_to="true"&ndash;&gt;-->
<!--&lt;!&ndash;    data-grid="true" />&ndash;&gt;-->
<!--&lt;!&ndash;                                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                        <div class="single-shop-left bg-white radius-10 mt-4">-->
<!--                            <div class="single-shop-left-title open">-->
<!--                                <h5 class=""> Tesis Tipi </h5>-->

<!--<form id="filter-form" method="GET" action="{% url 'villas' %}">-->
<!--    {% csrf_token %}-->

<!--    <div class="single-shop-left-inner margin-top-15">-->
<!--        <ul class="single-shop-left-list active-list list-style-none">-->

<!--            {% for type in all_types %}-->
<!--            <div class="form-check form-switch">-->
<!--                <input class="form-check-input filter-checkbox" type="checkbox" id="{{type.id}}" name="type" value="{{ type.name }}"-->
<!--                    {% if type.name in selected_types %} checked {% endif %}>-->
<!--                <label class="form-check-label" for="{{type.id}}">{{type.name}}</label>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </div>-->
<!--    <br>-->
<!--    <button type="submit" class="btn btn-primary" style="display: block;margin: 0 auto;">Filtrele</button>-->
<!--</form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


                <div class="shop-grid-contents" >
                    <div class="grid-list-contents">
                        <div class="grid-list-contents-flex">
                            <p class="grid-list-contents-para"> {{context_dict|length}} sonuç gösteriliyor</p>
                        </div>
                    </div>
                    <div id="tab-grid" class="tab-content-item active mt-4">
                        <div class="row gy-4">

                            {% include 'main/partial_villa_list.html' %}

                        </div>
                    </div>
                </div>
            </div>

        </div>







    </section>

    <!-- Hotel List area end -->
    <!-- footer area start -->

{% endblock %}