{% extends 'main.html' %}
{% load static %}
    <!-- Breadcrumb area Starts -->

{% block content %}
    <!-- Breadcrumb area end -->
    <!-- Hotel List area start -->
    <div class="responsive-overlay"></div>

    <section class="hotel-list-area section-bg-2 pat-100 pab-100">
            <div class="breadcrumb-area section-bg-2 breadcrumb-padding">
        <div class="container custom-container-one">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-contents">
                        <h4 class="breadcrumb-contents-title"> Yatlarımız </h4>
                        <ul class="breadcrumb-contents-list list-style-none">
                            <li class="breadcrumb-contents-list-item"> <a href="{% url 'home' %}"> Anasayfa </a> </li>
                            <li class="breadcrumb-contents-list-item"> Yatlar </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="booking-form">
                <form id="yatch-main-form" method="POST" action="{% url 'yatchs' %}">

                            {% csrf_token %}
    <!-- Hidden input field to store the value of all_villas -->

                <div class="row no-margin">
                    <div class="col-md-9">
                        <div class="row no-margin">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Liman Seçimi</span>
                                                                {% if selected_port %}
                        <select class="form-select" id="port_selection" name="port_selection" aria-label="Liman Seçimi">
    <option class="port-option" value="all_ports" {% if selected_port == 'all_ports' %}selected{% endif %}>Tüm Limanlar</option>

                            {% for port in all_ports %}
    <option class="port-option" value="{{ port.id }}" {% if selected_port == port.id %}selected{% endif %}>


                                    {{ port.name }} </option>
                            {% endfor %}
                        </select>
                                    {% else %}

                                                            <select class="form-select" id="port_selection" name="port_selection" aria-label="Liman Seçimi">
    <option class="port-option" value="all_ports" selected>Tüm Limanlar</option>

                            {% for port in all_ports %}
    <option class="port-option" value="{{ port.id }}" >


                                    {{ port.name }} </option>
                            {% endfor %}
                        </select>

                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <span class="form-label">Giriş Çıkış Tarihleri</span>
{% if raw_dates %}
    <input type="text" name="datetimes_home" id="checkin-date" class="form--control picker flatpickr-input" value="{{ raw_dates.0 }} - {{ raw_dates.1 }}" />
{% else %}
    <input type="text" name="datetimes_home" id="checkin-date" class="form--control picker flatpickr-input" />
{% endif %}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Kapasite</span>

                                    {% if num_people %}
                                        <select class="form-control" id="num_people" name="num_people">
                                            <option {% if num_people == '1' %}selected{% endif %}>1</option>
                                            <option {% if num_people == '2' %}selected{% endif %}>2</option>
                                            <option {% if num_people == '3' %}selected{% endif %}>3</option>
                                            <option {% if num_people == '4' %}selected{% endif %}>4</option>
                                            <option {% if num_people == '5' %}selected{% endif %}>5</option>
                                            <option {% if num_people == '6' %}selected{% endif %}>6</option>
                                            <option {% if num_people == '7' %}selected{% endif %}>7</option>
                                            <option {% if num_people == '8' %}selected{% endif %}>8</option>
                                            <option {% if num_people == '9' %}selected{% endif %}>9</option>
                                        </select>
                            {% else %}
                                    <select class="form-control" id="num_people" name="num_people">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                    {% endif %}
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-btn">
                            <button type="submit" class="submit-btn radius-20"><i class="las la-search"></i></button>
                        </div>
                    </div>

                </div>

						</form>
                <div class="row no-margin">
                                    <div class="col-md-12">

<form id="filter-form-yatch" method="GET" action="{% url 'yatchs' %}">
    {% csrf_token %}

    <div class="single-shop-left-inner margin-top-15">
        <ul class="single-shop-left-list active-list list-style-none">
            <div class="row">
                {% for type in all_types %}
                <div class="col-md-3">
                    <div class="form-check form-switch">

                        <input class="form-check-input filter-checkbox" type="checkbox" id="{{type.id}}" name="type" value="{{ type.name }}"
                            {% if type.name in selected_types %} checked {% endif %}>
                        <label class="form-check-label" for="{{type.id}}">{{type.name}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </ul>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="display: block;margin: 0 auto;">Filtrele</button>
        <br>


</form></div></div>

					</div>

            <div class="row">
                <div class="col-xl-10 col-md-10 col-lg-10"></div>
                        <div class="col-xl-2 col-md-2 col-lg-2">
                                                                        <div class="form-group">
                                                    <span class="form-label"> </span>

<select id="sort-option-yatchs" class="form-select btn btn-outline-warning dropdown-toggle" aria-label="Gelişmiş Sıralama">
    <option value="popularity">Popüler</option>
    <option value="price_asc">Fiyat Artan</option>
    <option value="price_desc">Fiyat Azalan</option>
</select>
                                </div>

                        </div>

            </div>


            <div class="shop-contents-wrapper mt-5">

                <div class="shop-grid-contents" >
                    <div class="grid-list-contents">
                        <div class="grid-list-contents-flex">
                            <p class="grid-list-contents-para"> {{all_yatchs|length}} sonuç gösteriliyor</p>
                        </div>
                    </div>
                    <div id="tab-grid" class="tab-content-item active mt-4">
                        <div class="row gy-4">

                            {% include 'main/partial_yatch_list.html' %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Hotel List area end -->
    <!-- footer area start -->

{% endblock %}