
{% extends 'main.html' %}
{% load static %}

{% block content %}


<section class="hotel-details-area section-bg-2 pat-100 pab-100">
    <div class="breadcrumb-area breadcrumb-padding">

        <div class="container custom-container-one">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-contents">
                        <h4 class="breadcrumb-contents-title"> Yat Detayları </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% include 'messages.html' %}

        <div class="container">

            <div class="row g-4">
                <div class="col-xl-8 col-lg-7">
                    <div class="details-left-wrapper">
                        <div class="details-contents bg-white radius-10">
                            <div class="details-contents-header">
<!--                                <div class="details-contents-thumb details-contents-main-thumb bg-image" style="background-image: url(assets/img/single-page/details_main.jpg);">-->
<!--                                </div>-->
                                <div class="details-contents-header-flex">

                                </div>
                            </div>

                            <div class="hotel-view-contents">
                                <div class="hotel-view-contents-header">
<div id="CarouselWithControls" class="carousel slide carousel-with-thumbnails" data-ride="carousel">
  <div class="carousel-inner">
    {% for item in yatch_images %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-slide-to="{{ forloop.counter }}">
        <img src="{{ item.image.url }}" class="d-block w-100">
      </div>
    {% endfor %}
    <a class="carousel-control-prev" href="#CarouselWithControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#CarouselWithControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div id="carouselModal" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for item in yatch_images %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <img src="{{ item.image.url }}" class="d-block w-100">
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselModal" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselModal" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

                                    <h3 class="hotel-view-contents-title"> {{yatch.name}} </h3>
                                    <div class="hotel-view-contents-location mt-2">
                                        <span class="hotel-view-contents-location-icon"> <i class="las la-map-marker-alt"></i> </span>
                                        <span class="hotel-view-contents-location-para"> {{yatch.yatch_port}}  </span>
                                    </div>
                                </div>
<!--                                <div class="hotel-view-contents-middle">-->
<!--                                    <div class="hotel-view-contents-flex">-->
<!--                                        {% if villa.has_parking %}-->
<!--                                        <div class="hotel-view-contents-icon d-flex gap-1">-->
<!--                                            <span> <i class="las la-parking"></i> </span>-->
<!--                                            <p class="hotel-view-contents-icon-title flex-fill"> Park Alanı </p>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                        {% if villa.has_wifi %}-->

<!--                                        <div class="hotel-view-contents-icon d-flex gap-1">-->
<!--                                            <span> <i class="las la-wifi"></i> </span>-->
<!--                                            <p class="hotel-view-contents-icon-title flex-fill"> Wifi </p>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                        {% if villa.has_breakfast %}-->

<!--                                        <div class="hotel-view-contents-icon d-flex gap-1">-->
<!--                                            <span> <i class="las la-coffee"></i> </span>-->
<!--                                            <p class="hotel-view-contents-icon-title flex-fill"> Kahvaltı </p>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                        {% if villa.has_cleaning_service %}-->

<!--                                        <div class="hotel-view-contents-icon d-flex gap-1">-->
<!--                                            <span> <i class="las la-quidditch"></i> </span>-->
<!--                                            <p class="hotel-view-contents-icon-title flex-fill"> Temizlik </p>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                {% if villa.has_pool %}-->

<!--                                        <div class="hotel-view-contents-icon d-flex gap-1">-->
<!--                                            <span> <i class="las la-swimming-pool"></i> </span>-->
<!--                                            <p class="hotel-view-contents-icon-title flex-fill"> Havuz </p>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                        {% if villa.has_reception %}-->

<!--                                        <div class="hotel-view-contents-icon d-flex gap-1">-->
<!--                                            <span> <i class="las la-receipt"></i> </span>-->
<!--                                            <p class="hotel-view-contents-icon-title flex-fill"> Resepsiyon </p>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->

<!--&lt;!&ndash;                                        <div class="hotel-view-contents-icon d-flex gap-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <span> <i class="las la-dumbbell"></i> </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <p class="hotel-view-contents-icon-title flex-fill"> Gym </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="hotel-view-contents-bottom">
                                    <div class="hotel-view-contents-bottom-flex">
                                        <div class="hotel-view-contents-bottom-contents">
                                            <h4 class="hotel-view-contents-bottom-title">
                                {% if yatch.currency == "try" %}
                                ₺
                                {% elif yatch.currency == "usd" %}
                                                                $
                                {% elif yatch.currency == "eur" %}
                                                                €
                                {% endif %}

                                                {{current_price}} <sub>/Gecelik</sub> </h4>
                                            <p class="hotel-view-contents-bottom-para"> ({{yatch.capacity}} kişi, {{yatch.num_room}} kabin, {{yatch.num_bathroom}} banyo) </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details-contents-tab">
                                <ul class="tabs details-tab details-tab-border">
                                    <li class="active" data-tab="about"> Yat Hakkında </li>
                                </ul>

                                <div id="about" class="tab-content-item active">
                                    <div class="about-tab-contents">
<!--                                        <p class="about-tab-contents-para"> {{ villa.explanation|linebreaks }} </p>-->
                                        <p class="about-tab-contents-para"> {{ yatch.explanation|safe }} </p>

                                    </div>


                                </div>
                                <div class="dashboard-reservation">
                        <div class="single-reservation bg-white base-padding show open">
                            <div class="single-reservation-expandIcon"> <i class="las la-angle-down"></i> </div>
                            <div class="single-reservation-head">
                                <div class="single-reservation-flex">
                                    <div class="single-reservation-content">
                                        <h5 class="single-reservation-content-title"> Hizmetler </h5>
<!--                                        <span class="single-reservation-content-id"> #824409583563 </span>-->
                                    </div>
                                    <div class="single-reservation-btn">
                                        <a href="javascript:void(0)" class="dash-btn btn-pending"> {{services|length}} hizmet </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-reservation-inner" style="">

                                <div class="single-reservation-item">
                                    <div class="single-reservation-details">
                                        {% for service in services %}

                                        <p></p>
                                        <div class="single-reservation-details-item col-lg-6 col-md-12">
                                            <h5 class="single-reservation-details-subtitle"> {{service.name}} </h5>
                                            <span class="single-reservation-details-title"> {{service.explanation}} </span>
                                        </div>

                                        {% endfor %}
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="single-reservation bg-white base-padding">
                            <div class="single-reservation-expandIcon"> <i class="las la-angle-down"></i> </div>
                            <div class="single-reservation-head">
                                <div class="single-reservation-flex">
                                    <div class="single-reservation-content">
                                        <h5 class="single-reservation-content-title"> Yat Özellikleri </h5>
<!--                                        <span class="single-reservation-content-id"> #824409583563 </span>-->
                                    </div>
                                    <div class="single-reservation-btn">
                                        <a href="javascript:void(0)" class="dash-btn btn-pending"> {{yatch_attributes_dict|length}} özellik </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-reservation-inner">

                                <div class="single-reservation-item">
                                    <div class="single-reservation-details">
                                                                {% for key,val in yatch_attributes_dict %}
<p></p>

                                        <div class="single-reservation-details-item col-lg-6 col-md-12">
                                            <h5 class="single-reservation-details-subtitle"> {{key}} </h5>
                                            <span class="single-reservation-details-title"> {{val}} </span>
                                        </div>

                                                                {% endfor %}

                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="single-reservation bg-white base-padding">
                            <div class="single-reservation-expandIcon"> <i class="las la-angle-down"></i> </div>
                            <div class="single-reservation-head">
                                <div class="single-reservation-flex">
                                    <div class="single-reservation-content">
                                        <h5 class="single-reservation-content-title"> İmkanlar </h5>
<!--                                        <span class="single-reservation-content-id"> #82443454765 </span>-->
                                    </div>
                                    <div class="single-reservation-btn">
                                        <a href="javascript:void(0)" class="dash-btn btn-pending"> {{features_dict|length}} imkan </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-reservation-inner">

                                <div class="single-reservation-item">
                                    <div class="single-reservation-details">
                                    {% for feature_category,features in features_dict %}
<p></p>

                                                                                <div class="single-reservation-details-item col-lg-6 col-md-12">
                                            <span class="single-reservation-details-subtitle"> {{feature_category}} </span>
                                                                    {% for feature in features %}

                                            <h5 class="single-reservation-details-title"> {{feature}} </h5>
                                            {% endfor %}
                                        </div>

                                        {% endfor %}

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

  <section id="minimal-statistics" style="padding:20px">
    <div class="row">
                                    <div class="single-reservation-content">
                                        <h5 class="single-reservation-content-title" style="text-align: center;"> Ücret Takvimi </h5>
                                        <br>
<!--                                        <span class="single-reservation-content-id"> #82443454765 </span>-->
                                    </div>
    </div>
    <div class="row">
        {% for price in price_intervals %}

      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card btn-outline-warning rounded-lg" style="border-color: rgba(255, 193, 7, 0.2);border-radius: 20px;">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pencil primary font-large-2 float-left"></i>
                </div>
                  <div class="single-reservation-details-item">
{% load turkish_month_name %}

<span class="single-reservation-details-subtitle">
    {{price.start_date.day}} {{ price.start_date|turkish_month_name }} {{price.start_date.year}} - {{price.end_date.day}} {{ price.end_date|turkish_month_name }} arası {% if price.min_nights %}
</span>
                      (Min. {{price.min_nights}} gece) {% endif %}



                                        <h5 class="single-reservation-details-title"> {{price.price}}
                                                                                 {% if yatch.currency == "try" %}
                                ₺
                                {% elif yatch.currency == "usd" %}
                                                                $
                                {% elif yatch.currency == "eur" %}
                                                                €
                                {% endif %}

                                        </h5>
                                    </div>
<!--                <div class="media-body text-right">-->
<!--                  <h3 class="text-success">{{price.price}} ₺</h3>-->
<!--                  <span>{{price.start_date|date:'d-m-Y'}} / {{price.end_date|date:'d-m-Y'}} arası</span>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
          <br>
      </div>

        {% endfor %}
    </div>

  </section>

                            </div>

                        </div>


                    </div>

                    <div class="grey-bg container-fluid">

</div>



                </div>

                <div class="col-xl-4 col-lg-5">
                    <div class="sticky-top">
                        <div class="hotel-details-widget hotel-details-widget-padding widget bg-white radius-10">
                            <div class="details-sidebar">
                                <div class="details-sidebar-dropdown custom-form">
                                    <form method="POST" action="{% url 'yatch_detail'  yatch.id  %}" >

                                        {% csrf_token %}

                                        <div class="single-input">
                                            <label name="checkin-date" class="details-sidebar-dropdown-title"> Müsaitlik Görüntüle </label>
                                                    <input type="text" name="datetimes_home_disabled" id="unique-date-picker-yatch" name ="checkin-date" class="form--control picker flatpickr-input" />

                                        </div>
                                        <div class="single-input mt-4">
                                            <input  type="text"  id="name " name="name"class="form--control radius-5" placeholder="Ad" required>
                                        </div>
                                        <div class="single-input mt-4">
                                            <input type="text" id="surname" name="surname" class="form--control radius-5" placeholder="Soyad" required>
                                        </div>
                                    <div class="single-input mt-4">
                                        <input type="email"  id="email" name="email" class="form--control radius-5" placeholder="Email" required>
                                    </div>
                                    <div class="single-input mt-4">
                                        <input type="tel"  id="tel" name="tel" class="form--control radius-5" id="tel" placeholder="Numara" required>
                                    </div>
                                    <div class="single-input mt-4">
                                        <textarea  id="message" name="message" class="form--control form-message radius-5"></textarea>
                                    </div>
                                        <div class="checkout-sidebar">
    <div class="checkout-sidebar-contents">
        <ul class="checkout-flex-list list-style-none checkout-border-top pt-3 mt-3">
            <li class="list"> <span class="regular"> Yat </span> <span class="strong"> {{yatch.name}} </span> </li>
                                                 {% include 'main/request_summary.html' %}

        </ul>
    </div>
</div>

                                        <div class="btn-wrapper mt-4">
                                            <center><button type="submit" class="cmn-btn btn-bg-1 btn-small">Talep Gönder</button></center>

                                        </div>
                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div class="container-fluid">
<hr>

</div>

            </div>
        </div>




    </section>


{% endblock %}
